a
{
  transition: all, .5s, ease-in-out;
  text-decoration: none;
  color: $black;

  & :hover
  {
    transition: all, .5s, ease-in-out;
    color: $secondary;
  }
}

.menu-header
{
  width: 90%;
  height: 3.750em;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  background: $white;
  z-index: $menu;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  & figure:first-child
  {
    display: flex;
    align-items: center;
    width: 14em;
  @include bp(3)
  {
    display: none;
  }
  & img
    {
      padding-right: 10%;
    }
  }

  @include bp(3)
  {
    width: auto;
    height: auto;
  }
}

.fixed
{
  position: fixed;
}

.static
{
  position: static;
}

.internal
{
  position: fixed;
  top: 1%;
  right: 5%;
  @include bp(3)
  {
    display: none;
  }
}

.nav-up
{
  top: -3.750em;
}

.menu
{
  background-color: $white;
  display: none;
  z-index: $menu;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  @include bp(5)
  {
    width: 18.750em;
    min-height: 0;
    position: fixed;
    top: 10%;
    text-align: left;
  }
}

.small-menu-center-outer
{
  display: flex;
  width: 100%;
  min-height: 100vh;
  @include bp(5)
  {
    min-height: 0;
    display: block;
  }
}

.small-menu-center-inner
{
  margin: auto;
}

.nav-list
{
  @include bp(5)
  {
    margin-top: 40%;
    margin-left: 15%;
    margin-bottom: 25%;
  }
  & a
  {
    font-size: 180%;
  }}

.nav-list-lang
{
  @extend .nav-list;
  display: inline-block;
  margin: 0% 0% 0% 10%;
}

.nav-item
{
  margin-bottom: 1%;

  & a:hover
  {
    color: $secondary;
  }
}


.current
{
  color: $secondary;
}

.menu-hover
{
  background: $secondary!important;
}

.work-more
{
  margin-bottom: 4em;
  margin-top: 4em;
  z-index: $animate;
  & h2{

  }
}

.blog-menu
{
  display: block;
  width: 40%;
  height: 2em;
  margin: 0.313em;
  padding: 0.631em;
  color: $white;
  opacity: .8;
  @include bp(2)
  {
    width: 20%;
  }
  @include bp(5)
  {
    width: 16em;
  }
  &:hover
  {
    opacity: 1;
  }
  & h2
  {
    color: $white;
  }
  & p
  {
    color: $white;
    & .typed-cursor
    {
      display: none;
    }
  }

}

.big-menu
{
  height: 2em;
  width: 40%;
  overflow: hidden;
  @include bp(2)
  {
    width: 20%;
  }
  @include bp(4)
  {
    height: 10em;
  }
  @include bp(5)
  {
    width: 16em;
  }
}

.article-category
{
  text-align: center;
  font-size: 300%;
  text-transform: uppercase;
}

.article-title-link
{
  text-align: center;
  font-size: 250%;
}

.php-link a:hover
{
  color: $php;
}

.html-link a:hover
{
  color: $html;
}

.css-link a:hover
{
  color: $css;
}

.javascript-link a:hover
{
  color: $javascript;
}

.design-link a:hover
{
  color: $design;
}

.seo-link a:hover
{
  color: $seo;
}

.business-link a:hover
{
  color: $business;
}

.news-link a:hover
{
  color: $news;
}

.values-menu-item
{
  display: inline-flex;
  text-transform: uppercase;
  color: $primary;
  width: 8em;
  height: 2em;
  background-color: $white;
  border: .1em solid $white;
  margin: .1em;
  @include bp(2)
  {
    width: 10em;
    height: 4em;
  }
  @include bp(3)
  {
    height: 5em;
  }
  @include bp(4)
  {
    height: 10em;
  }
  & h3
  {
    margin: auto;
    font-size: 100%;
    color: inherit;
    @include bp(2)
    {
      font-size: 110%;
    }
    @include bp(3)
    {
      font-size: 120%;
    }
    @include bp(4)
    {
      font-size: 130%;
    }
    @include bp(5)
    {
      font-size: 150%;
    }

  }
  &:hover
  {
    background-color: $primary;
    color: $white!important;
    cursor: pointer;
  }
}

.about-menu
{
  position: fixed;
  z-index: $menu;
  left: 3%;
  top: 40%;
}

.dot
{
  cursor: pointer;
  width: 1.250em;
  height: 1.313em;
  display: inline-block;
}

.inner
{
  top: 0.125em;
  left: -0.313em;
  height: 0.625em;
  width: 0.625em;
  position: relative;
  display: inline-block;
  background: $black;
  border-radius: 1.250em;
  transform: scale(0.4);
  transition: $transition;
  &:hover
  {
    transform: scale(1);
  }
}

.label
{
  display: none;
  color: $black;
  position: absolute;
  top: 0;
  left: 1em;
  width: 10em;
}

.about-nav li
{
  height: 1.5em;
  position: relative;
}

.about-nav li:hover span
{
  display: inline-block;
  & span
  {
    transform: scale(1);
    display: block;
  }
}

.about-active
{
  background-color: $secondary;
}

.white-bar
{
  background-color: $white!important;
}









