$primary:#57659f;
$secondary:#c54500;
$white:#ffffff;
$black:#000000;
$grey:#f3f3f3;
$darkergray:#ccc;
$landingcolor:#E0E0DF;
$php:#4f5b93;
$html:#db4b2b;
$css:#1572b6;
$javascript:#f0db4f;
$design:#b60002;
$seo:#02a05b;
$business:#00466c;
$news:#ffa142;

$overlay:1;
$animate:2;
$menu:3;
$menuitem:4;


$transition: all .5s ease-in-out;